body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        135deg,
        #f8f9fa,
        #e9ecef
    );
    min-height: 100vh;
}

.cuadricula-principal-videos{
    margin-top: 90px;
}

.formulario-rifa{
    max-width: 700px;
    margin: 70px auto 40px auto;
    padding: 30px;

    background: #dbeafe;
    backdrop-filter: blur(12px);

    border-radius: 20px;

    border: 1px solid rgba(17, 25, 80, 0.253);
    border-top: 6px solid #000;

    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.titulo-rifa{
    font-weight: 700;
}
.formulario-rifa .form-label{
    color: #6c757d;
    font-weight: 600;
}

.formulario-rifa .form-control,
.formulario-rifa .form-select{
    font-weight: 400;
    color: #6c757d;
    border-radius: 12px;
    padding: 12px;
    border: none;
}

.formulario-rifa .form-control:focus,
.formulario-rifa .form-select:focus{
    box-shadow: 0 0 12px rgba(13,110,253,.5);
}

.formulario-rifa .input-group-text{
    background: #26292c;
    color: white;
    border: none;
    font-weight: 500;
}

.formulario-rifa .btn-primary{
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: 600;
}

.formulario-rifa .btn-success{
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: 600;
}

.formulario-rifa small{
    display: block;
    margin-top: 4px;
}

.form-control:focus,
.form-select:focus {
    border-color: #38bdf8 !important;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.5) !important;
    transition: all 0.2s ease;
}

.formulario-rifa input[type="file"]::file-selector-button{
    background: #f8f9fa;
    color: #6c757d;
    font-weight: 400;
    border: 1px solid #dee2e6;
}


.logo-rifa{
    border: 3px solid #000;
    border-radius: 50%;
    padding: 5px;
    background: white;
    margin-top: -30px;
}
.btn-pdf-activo {
    animation: brilloPDF 1.2s infinite;
}

@keyframes brilloPDF {
    0% {
        box-shadow: 0 0 5px rgba(25, 135, 84, 0.4);
    }

    50% {
        box-shadow: 0 0 20px rgba(25, 135, 84, 1);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 5px rgba(25, 135, 84, 0.4);
    }
}

.resultado-encontrado {
    border: 2px solid #0f61db;
    border-radius: 8px;
    padding: 5px;
    animation: parpadeoResultado 1s infinite;
}

@keyframes parpadeoResultado {

    0% {
        box-shadow: 0 0 5px #0f61db;
    }

    50% {
        box-shadow: 0 0 20px #0f61db;
    }

    100% {
        box-shadow: 0 0 5px #0f61db;
    }

}

.tooltip-beneficio {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background: #212529;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    display: none;
    z-index: 1000;
}

.tooltip-beneficio::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #212529 transparent;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.plantilla-rifa{
    border-radius: 10px;
    border: 3px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.plantilla-rifa:hover{
    transform: scale(1.05);
    border-color: #1b3358;
}
.modal-header{
    background: #313439;
    color: white;
}

.modal-body{
    background: #dbeafe;
}
.modal-title{
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.modal-header .btn-close {
    filter: invert(1);
}