body {
    font-family: 'Poppins', sans-serif;
}

.carrusel-principal{
    margin-top: 90px;
}

.formulario-rifa{
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 30px;
}

.form-control:focus,
.form-select:focus {
    border-color: #38bdf8 !important;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.5) !important;
    transition: all 0.2s ease;
}

.btn-pdf-activo {
    animation: brilloPDF 1.2s infinite;
}

@keyframes brilloPDF {
    0% {
        box-shadow: 0 0 5px rgba(25, 135, 84, 0.4);
    }

    50% {
        box-shadow: 0 0 20px rgba(25, 135, 84, 1);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 5px rgba(25, 135, 84, 0.4);
    }
}

.resultado-encontrado {
    border: 2px solid #0f61db;
    border-radius: 8px;
    padding: 5px;
    animation: parpadeoResultado 1s infinite;
}

@keyframes parpadeoResultado {

    0% {
        box-shadow: 0 0 5px #0f61db;
    }

    50% {
        box-shadow: 0 0 20px #0f61db;
    }

    100% {
        box-shadow: 0 0 5px #0f61db;
    }

}

.tooltip-beneficio {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background: #212529;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    display: none;
    z-index: 1000;
}

.tooltip-beneficio::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #212529 transparent;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.plantilla-rifa{
    border-radius: 10px;
    border: 3px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
}

.plantilla-rifa:hover{
    transform: scale(1.05);
    border-color: #1b3358;
    box-shadow: 0 0 20px rgba(13,110,253,.5);
}
.modal-header{
    background: #313439;
    color: white;
}

.modal-body{
    background: #aebfd1;
}
.modal-title{
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.modal-header .btn-close {
    filter: invert(1);
}